<h2>Employee Details</h2>
<form>
    Employee Id <input type="test" name="employeeId" value="{{empDetails.employeeId}}" disabled><br>
    Employee Name <input type="test" name="employeeId" value="{{empDetails.firstName}} {{empDetails.lastName}}" disabled><br>
    Email <input type="test" name="employeeId" value="{{empDetails.email}}" disabled><br>
    Phone <input type="test" name="employeeId" value="{{empDetails.phoneNumber}}" disabled><br>
    Hire Date <input type="test" name="employeeId" value="{{empDetails.hireDate}}" disabled><br>
    Job Id <input type="test" name="employeeId" value="{{empDetails.jobId}}" disabled><br>
    Manager Id <input type="test" name="employeeId" value="{{empDetails.managerId}}" disabled><br>
    Salary <input type="test" name="employeeId" value="{{empDetails.salary}}" disabled><br>
</form>
