<div id="navbar-div">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">HRMS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" routerLink="jobs">Jobs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="employeeBasic">Employees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="countries">Countries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="departments">Departments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="stocks">Stocks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="teejay">TeeJay</a>
          </li>
        </ul>
      </div>
    </nav>
    
    </div>
    <router-outlet></router-outlet>
<div>
<!-- 
  <img  height="100" width="100"src="https://pizza-luvrs-unique-sandy-s3.s3.ap-south-1.amazonaws.com/toppings/pepperonis.png">
  <img  height="100" width="100"src="https://pizza-luvrs-unique-sandy-s3.s3.ap-south-1.amazonaws.com/toppings/cheddar.png">
  <img  height="100" width="100"src="https://pizza-luvrs-unique-sandy-s3.s3.ap-south-1.amazonaws.com/pizzas/best-pizza.png"> -->
</div>