<div *ngIf="employeesList.length!=0">
    <table >
        <thead class="thead-dark">
            <tr>
                <th>Emp Id</th> <th>Name</th><th>Email</th><th>Phone Number</th>
            </tr>
        </thead>
        
        <tr *ngFor="let item of employeesList; index as i; first as isFirst ">
            <td>{{item.employeeId}}</td>
            <td>{{item.firstName}} {{item.lastName}}</td>
            <td>{{item.email}}</td>
            <td><button class="btn btn-info" (click)="getFullDetails(item.employeeId)">View</button></td>
        </tr>
        </table>
</div> 
<div *ngIf="employeesList.length==0" id="errorPage">
    <h2>Oops! Server not available, please try again.</h2>
</div>
