<!-- <div class="totalDash">
    <table>
        <tr>
            <th>Total Value</th>
            <th>Current Value</th>
            <th>Total P&L</th>
        </tr>
        <tr>
            <td>{{20000 | currency:'INR'}}</td>
            <td>{{22000 | currency:'INR'}}</td>
            <td style="color: rgb(84, 236, 147);;">{{2000 | currency:'INR'}}
                <span style="font-size: smaller;">({{0.10 |percent:'1.1-2'}})</span>
            </td>

        </tr>
    </table>
</div> -->

<app-style-sheet></app-style-sheet>
